  <!-- <div class="body">
    <img src="../../../assets/image/Screenshot 2023-03-18 094248.png" class="">
    <div class="container-fluid">
      <div class="row">

          <div class="col-lg-8 header-div">
            <p>
              Create an account
            </p>
          </div> 

        <form action=""  [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" >

          <div class="form-control py-2">
            <ion-label class="input-group input-group-sm">
              <span>
                <i class="fas fa-user"></i>
              </span>
              <ion-input type="text" formControlName="email" class="input input-bordered input-sm w-full max-w-xs" placeholder="Email" required [email] ="true"></ion-input>
            </ion-label>

            <ion-label class="input-group input-group-sm">
              <span>
                <i class="fas fa-user"></i>
              </span>
              <ion-input type="password" formControlName="password" class="input input-bordered input-sm w-full max-w-xs" placeholder="Password"></ion-input>
            </ion-label>

            <div  class="flex justify-center py-5">
              <ion-button [disabled]="loginForm.invalid" class="btn border-transparent text-white">Submit</ion-button>
           </div>
          
          </div>
        </form>
      </div>
    </div>
  </div> -->

<div class="head">

  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" class="container">

  <ion-card >
  
    <ion-card-content class="frm">
      <div >
        <h1 class="name">Sign in</h1>
        <form>
            <div class="form-group">
                <label for="email" class="name">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
            </div>
            <br> 
            <div class="form-group">
                <label  class="name">Pasword:</label>
                <input class="form-control" placeholder="Enter password" formControlName="password">
            </div>
            <div class="form-group">
                <ion-button type="submit" class="btn btn1" [disabled]="loginForm.invalid">Submit</ion-button>
            </div>
        </form>
    </div>
    </ion-card-content>
  </ion-card>
</form>
</div>
