.card-title
{
  font-size: 36px;
}
.card{}
.bg{
  // background-color: rgba(255, 255, 255, 0.941);
   background-color: #FCF1DA
  // background-color : #F3EDDF
}
button{
  background-color: rgba(215, 164, 68, 0.72);
}
h2{
  color: rgba(215, 164, 68, 0.72);
}