// .img{
//     object-fit: cover;
//     height: 48px;
//     width: fit-content;
// }
.card{
 width: 90%;
 height: 80%;
 margin: auto;
}
.search{
    margin-top: 10%;
    width: 70%;
    margin: auto;
}
p{
    color: rgba(12, 147, 201, 0.521);
    text-align: center;
    font-style: italic;
}
.img1{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.t1{
    color: black;
}
@media only screen and (max-width: 2150px){
    /*Tablets [601px -> 1200px]*/
.img{
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  
}
@media only screen and (max-width: 992px){
	/*Big smartphones [426px -> 600px]*/
    .img{
        // object-fit: cover;
        // height: 10%;
        // width: fit-content;
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card{
        width: 90%;
        height: 80%;
        margin: auto;
       }
}

@media only screen and (max-width: 992px){
	/*Small smartphones [325px -> 425px]*/
//     .mobile{
//         display: none;
//     }
.img{
    // object-fit: cover;
    // height: 100%;
    // width: fit-content;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 90%;
    height: 80%;
    margin: auto;
   }

}

@media (min-width: 768px) { 

    // .mobile{
    //     display: none;
    // }
    // .image{
    //     object-fit: cover;
    //     height: 48px;
    //     width: fit-content;
    // }
    .img{
        height: 100%;
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card{
        width: 90%;
        height: 80%;
        margin: auto;
       }
}
.bgimg {
    background-image: url('../../assets/image/1_bedroom_garden_cottage_in_grantham_park_1080103678200272038.jpg');
    // height: 100%;
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
// page-home {

//     .card-background-page {

//         ion-card {
//           position: relative;
//           text-align: center;
//         }

//         .card-title {
//           position: absolute;
//           top: 36%;
//           font-size: 2.0em;
//           width: 100%;
//           font-weight: bold;
//           color: #fff;
//         }

//         .card-subtitle {
//           font-size: 1.0em;
//           position: absolute;
//           top: 52%;
//           width: 100%;
//           color: #fff;
//         }

//       }
//     }
