
    <!-- <img src="../../assets/image/find a palce.jfif" alt=""> -->

    <!-- <div class="bgimg">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <p>Find Your Freedom, at Affordable Rate. There's no place like home</p>
  <ion-searchbar class="search"></ion-searchbar> -->






  <!-- <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>

        <ion-card color="light" class="card">
          
          <ion-img src="../../assets/image/Difference-between-flat-and-apartment.jpg"  class="img1" alt="ion"></ion-img>
          <ion-card-header>

            <ion-toolbar>
              <ion-card-title class="t1" slot="start">Flat</ion-card-title>
              <ion-card-subtitle slot="end">R1000</ion-card-subtitle>
            </ion-toolbar>
            
          </ion-card-header>
          <ion-card-content>

            <ion-toolbar >

              <ion-button slot="start" fill="outline">View</ion-button>
       
              <ion-button class="btn" slot="end" fill="outline">Apply</ion-button>

            </ion-toolbar>
            
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col> -->

        <!-- <ion-card color="light" class="card">
          <ion-img src="../../assets/image/backroom.jfif"  class="img1" alt="ion"></ion-img>
          <ion-card-header>

            <ion-toolbar>
              <ion-card-title class="t1" slot="start">Flat</ion-card-title>
              <ion-card-subtitle slot="end">R1000</ion-card-subtitle>
            </ion-toolbar>

          </ion-card-header>
          <ion-card-content>
            <ion-toolbar >

              <ion-button slot="start" fill="outline">View</ion-button>
       
              <ion-button class="btn" slot="end" fill="outline">Apply</ion-button>

            </ion-toolbar>
          </ion-card-content>
        </ion-card> -->

      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->

 <!-- <app-footer></app-footer> -->






<!-- Start Landing Page -->

<div class="landing-page">
  <!-- <div class="container"> -->
    <!-- <div class="header-area"> -->
      <!-- <div class="logo">Your <b>Website</b></div>
      <ul class="links">
        <li>Home</li>
        <li>About Us</li>
        <li>Work</li>
        <li>Info</li>
        <li>Get Started</li>
      </ul>
    </div> -->
    <div class="info">
      <h1>Looking For Inspiration</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
      <button>Get started</button>
    </div>
    <div class="image">
      <img src="https://i.postimg.cc/65QxYYzh/001234.png">
    </div>
    <!-- <div class="clearfix"></div> -->
  <!-- </div> -->
</div>





 
<!-- 

 <ion-content class="card-background-page">

  <ion-card div class="card">
    <img src="../../assets/image/find a palce.jfif"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

  <ion-card>
    <img src="../../assets/image/find a palce.jfif"/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

</ion-content> -->