<!-- 
<div class="body">

<div class="container-fluid">

<form >

  


    <ion-card class="card2">
      <ion-card-header>
        <ion-card-title>Create an account</ion-card-title>
      <[formGroup] = "AddUserForm" novalidate class="form"/ion-card-header>
    
       <ion-card-content>

        <div class="flex justify-between" (change)="checkSelected($event)">
          <div>
            <ion-label class="label cursor-pointer">
              <p class="label-text text-white">Account type</p> 
            </ion-label>
          </div>
          <div>
            <ion-label class="label cursor-pointer">
              <p class="label-text1 text-white mx-2">Tenant</p> 
              <input type="radio" name="usertype" value="Tenant"  class="radio-btn" formControlName="usertype"/>
            </ion-label>
          </div>
          <div>
            <ion-label class="label cursor-pointer">
              <p class="label-text text-white mx-2">Landlord</p> 
              <input type="radio" name="usertype" value="Landlord" formControlName="usertype"/>
            </ion-label>
          </div>
          
        </div>

<ion-list>
  <ion-item >
    <ion-label >Full Name:</ion-label>
    <ion-input placeholder="please enter your full name here.." formControlName="fullname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input placeholder="please enter your email here.." formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input placeholder="password here.." formControlName="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirm Password:</ion-label>
    <ion-input placeholder="confirm here.." formControlName="confirmPassword"></ion-input>
  </ion-item>

</ion-list>
<br>
<ion-buttons slot="secondary">
    <ion-button fill="solid" (click)="AddUser()" >Submit</ion-button>
  </ion-buttons>

      </ion-card-content>

      
    </ion-card>
</form>
</div> -->

<div class="head">

  <form action="" [formGroup] = "AddUserForm" novalidate class="form">
  <ion-card class="container">
  
    <ion-card-content class="frm">

      <h1 class="name1">Sign in</h1>

      <div class="flex justify-between" (change)="checkSelected($event)">
        <div>
          <ion-label class="label cursor-pointer">
            <p class="name">Account Type:</p> 
          </ion-label>
        </div>
        <div>
          <ion-label class="label cursor-pointer">
            <p class="name ">Tenant
            <input type="radio" name="usertype" value="Tenant"  class="radio-btn" formControlName="usertype"/></p> 
          </ion-label>
        </div>
        <div>
          <ion-label class="label cursor-pointer">
            <p class="name">Landlord
            <input type="radio" name="usertype" value="Landlord" formControlName="usertype"/></p> 
          </ion-label>
        </div>
        <br>
      </div>

      <div >
       
        
            <div class="form-group">
                <label class="name">Full name:</label>
                <input class="form-control" placeholder="Enter your full name" formControlName="fullname">
            </div>
            <div class="form-group">
                <label class="name">Email:</label>
                <input class="form-control" placeholder="Enter email" formControlName="email">
            </div>
            <div class="form-group">
                <label class="name">Pasword:</label>
                <input class="form-control" placeholder="Enter password" formControlName="password">
            </div>
            <div class="form-group">
              <label class="name">Pasword:</label>
              <input class="form-control" placeholder="Confirm password" formControlName="confirmPassword">
          </div>
            <div class="form-group">
                <ion-button class="btn btn1" (click)="AddUser()">Submit</ion-button>
            </div>
        
    </div>
    </ion-card-content>
  </ion-card>
</form>
  <div class="container" >
    
</div>
</div>





