<!-- 
<div class="body">

<div class="container-fluid">

<form >

  


    <ion-card class="card2">
      <ion-card-header>
        <ion-card-title>Create an account</ion-card-title>
      <[formGroup] = "AddUserForm" novalidate class="form"/ion-card-header>
    
       <ion-card-content>

        <div class="flex justify-between" (change)="checkSelected($event)">
          <div>
            <ion-label class="label cursor-pointer">
              <p class="label-text text-white">Account type</p> 
            </ion-label>
          </div>
          <div>
            <ion-label class="label cursor-pointer">
              <p class="label-text1 text-white mx-2">Tenant</p> 
              <input type="radio" name="usertype" value="Tenant"  class="radio-btn" formControlName="usertype"/>
            </ion-label>
          </div>
          <div>
            <ion-label class="label cursor-pointer">
              <p class="label-text text-white mx-2">Landlord</p> 
              <input type="radio" name="usertype" value="Landlord" formControlName="usertype"/>
            </ion-label>
          </div>
          
        </div>

<ion-list>
  <ion-item >
    <ion-label >Full Name:</ion-label>
    <ion-input placeholder="please enter your full name here.." formControlName="fullname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input placeholder="please enter your email here.." formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input placeholder="password here.." formControlName="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirm Password:</ion-label>
    <ion-input placeholder="confirm here.." formControlName="confirmPassword"></ion-input>
  </ion-item>

</ion-list>
<br>
<ion-buttons slot="secondary">
    <ion-button fill="solid" (click)="AddUser()" >Submit</ion-button>
  </ion-buttons>

      </ion-card-content>

      
    </ion-card>
</form>
</div> -->

<div class="head">

  <form action="" id="formRegister" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
  <ion-card class="container">
  
    <ion-card-content class="frm">

      <h1 class="name1">Sign in</h1>

      <div class="flex justify-between" (change)="checkSelected($event)">
        <div>
          <ion-label for="radio" class="label cursor-pointer">
            <p class="name">Account Type:</p> 
          </ion-label>
        </div>
        <br>
        <div>
          <ion-label class="label cursor-pointer" for="usertype">
            <p class="name ">Tenant
            <input type="radio" name="usertype" value="Tenant"  class="radio-btn" formControlName="usertype"/></p> 
          </ion-label>
        </div>
        <div>
          <ion-label class="label cursor-pointer" for="usertype">
            <p class="name">Landlord
            <input type="radio" name="usertype" value="Landlord" formControlName="usertype"/></p> 
          </ion-label>
        </div>
        <br>
      </div>

      <div >
       
        
            <div class="form-group">
                <label for="fullname" class="name">Full name:</label>
                <input class="form-control" placeholder="Enter your full name" formControlName="fullname" aria-label="fullname" aria-describedby="addon-wrapping">
            </div>
            <div class="form-group">
                <label or="Email" class="name">Email:</label>
                <input class="form-control" placeholder="Enter email" formControlName="email" [email]="true" aria-label="Email" aria-describedby="addon-wrapping">
            </div>
            <div class="form-group">
                <label class="name" for="Password">Pasword:</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="password" aria-describedby="addon-wrapping" formControlName="password" minlength="4" required>
            </div>
            <div class="form-group">
              <label for="ConfirmPassword"  class="name">Confirm Pasword:</label>
              <input type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword" aria-label="ConfirmPassword" aria-describedby="addon-wrapping">
          </div>
            <div class="form-group">
                <ion-button class="btn btn1" id="button" type="submit" expand="block" (click)="presentToast('top')">Submit</ion-button>
            </div>
        
    </div>

    <!-- <div class="links">
      <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
      <p class="small fw-bold mt-2 pt-1 mb-0 text-center">Already have an account? <a href="" class="link" routerLink="/login" >Login</a></p>
    </div> -->

    </ion-card-content>
  </ion-card>
</form>
  <div class="container" >
    
</div>
</div>





