.card-title
{
  font-size: 36px;
}
.bg{
background-color: #FCF1DA
}
button{
  background-color: rgba(215, 164, 68, 0.72);
}
h2{
  color: rgba(215, 164, 68, 0.72);
}
.name{
  color: rgba(215, 164, 68, 0.72);;
}