  .img{
    size: 1px;
    // margin-left: 100px;
    margin: auto;
    //  d-block
  }
  .body{
    background: #ffff;
    height: 100vh;
  }
  .card2{
    background-color: #02ebbdd7
    ;
  }
  p{
    color: #Ffff;
    text-align: center;
    size: 80px;
  }
  ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
  
    --color: #ddd;
    --color-checked: #6815ec;
  }
  
  ion-radio.ios {
    width: 20px;
    height: 20px;
  
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  ion-card-content {
    --background: none;
    // opacity:1;
  }
  ion-label{
    --background: white;
  }
  
  .radio-checked.ios {
    border-color: #6815ec;
  }